<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.0"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="ProductDetails">
				<endpoint address="" binding="webHttpBinding" contract="ProductDetailsContracts.IProductDetails" behaviorConfiguration="WebBehavior"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="WebBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
